.modal {
  background: white;
  border-radius: 5px;
  color: rgb(51, 51, 51);
  display: inline;
  max-height: 95%;
  max-width: 500px;
  outline: none;
  // padding: 1rem;
  overflow: hidden;
  .header-post {
    .datos-post-container {
      small {
        display: none;
      }
    }
  }
}
.ReactModal__Overlay {
  @include flexCenter();
  z-index: 99;
}
.ReactModal__Content {
  position: relative;
  width: 90%;
  // min-height: auto;
  // max-height: 100%;
  height: auto;
  // height: 100%;

  @include flexCenter(column);
  gap: 1rem;
}
.container-title {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid $grisIcons;
  @include flexCenter(row, space-between);
  h2 {
    width: 100%;
    text-align: center;
  }
  button {
    position: absolute;
    top: 12px;
    right: 1rem;
    border-radius: 50%;
    @include flexCenter();
  }
}
.container-form-modal {
  padding: 1rem;
  width: 100%;
  @include flexCenter(column);
  gap: 10px;
  .container-options {
    display: none;
  }
  .form-modal {
    width: 100%;
    @include flexCenter(column, center, stretch);
    gap: 1rem;
    .text-post {
      min-height: 200px;
      font-size: 1.25rem;
      border: none;
      outline: none;
      resize: none;
      &::placeholder {
        color: $grisPlaceHolder;
        font-size: 1.25rem;
      }
    }
    button {
      background-color: $azulBase;
      color: white;
      &:disabled {
        color: black;
        background-color: $grisBase;
        cursor: not-allowed;
      }
    }
  }
}
// modal de comentario

.main-container-modal-coments {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  .container-title {
    padding-top: 10px;
    h2 {
      margin: 0;
    }
  }
}
.main-container-coments {
  width: 100%;
  .main-container-rowComent {
    padding: 0 1rem;
    border-bottom: 1px solid darken($grisBase, $amount: 10);
    // background-color: $;
    .row-container-like {
      border-bottom: none;
      h3 {
        font-size: 1rem;
      }
    }
    .container-text-coment {
      background-color: $grisBase;
      margin-bottom: 10px;
      padding: 1rem;
      border-radius: 1rem;
      @include flexCenter(row, flex-start, center);
      p {
        margin: 0;
      }
    }
  }
}
.container-textarea-coment {
  min-height: 50px;
  width: 100%;
  padding: 1rem;
  @include flexCenter();
  .form-modal {
    @include flexCenter();
    width: 100%;

    flex-grow: 1;
    gap: 10px;

    button {
      background-color: $azulBase;
      color: white;
    }
    .text-area-fake {
      display: block;
      flex-grow: 1;
      background-color: lighten($grisBase, $amount: 0);
      border-radius: 10px;
      padding: 5px 1rem;
      min-height: 40px;
      max-width: 80%;
      width: 100%;
      outline: none;
      font-size: 1.25rem;
      border: none;
      position: relative;
      &:empty::before {
        position: absolute;
        content: "Comenta aqui...";
      }
    }
  }
}
