.nav {
  @include flexCenter(row, center, flex-end);
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid $grisBase;
  z-index: 99;
  @media (min-width: 600px) {
    height: 50px;
  }
  .container-nav {
    @include flexCenter(column);
    height: 100%;
    gap: 5px;
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
    @media (min-width: 600px) {
      flex-direction: row;
      gap: 2rem;
      padding-top: 0px;
      .container-logo {
        width: 20%;
      }
    }
  }
}
.container-logo {
  h1 {
    font-weight: 500;
    strong {
      color: $azulBase;
    }
  }
}
.container-enlaces {
  @include flexCenter(row, space-between);
  width: 100%;
  gap: 5px;
  @media (min-width: 600px) {
    min-height: 100%;
  }
  a,
  button {
    @include flexCenter();
    flex-grow: 1;
    height: 100%;
    padding: 5px;
    font-size: 1.5rem;
    color: $grisPlaceHolder;
    border-bottom: 2px solid transparent;
    transition: background-color 0.3s ease-in-out;
    @include desktop {
      border-bottom: 3px solid transparent;
    }
    &.active-link {
      color: $azulBase;
      border-bottom: 3px solid $azulBase;
      transition: all 0.2s ease-in-out;
      @include desktop {
        border-bottom: 3px solid $azulBase;
      }
    }

    &:hover {
      background-color: $grisBase;
    }
    span {
      display: none;
      font-family: "Times New Roman", Times, serif;
    }
    @media (min-width: 600px) {
      gap: 10px;
      span {
        font-size: 0.875rem;
        display: inline;
      }
    }
  }
  button {
    background-color: transparent;
  }

  @media (min-width: 600px) {
    height: 40px !important;
  }
}
