.nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid $grisIcons;
  @include flexCenter(row, center, end);
  @media (min-width: 600px) {
    height: 40px;
  }
  .container-nav {
    @include flexCenter(column);
    width: 100%;
    // height: 100%;
    gap: 5px;
    padding: 10px;
    padding-bottom: 0;
    @media (min-width: 600px) {
      flex-direction: row;
      gap: 2rem;
      padding-top: 0px;
      .container-logo {
        width: 20%;
      }
    }
  }
}
.container-logo {
  h1 {
    font-weight: 500;
    strong {
      color: $azulBase;
    }
  }
}
.container-enlaces {
  width: 100%;
  @include flexCenter(row, space-between);
  gap: 5px;
  a,
  button {
    @include flexCenter();
    flex-grow: 1;
    padding: 5px;
    color: $grisPlaceHolder;
    height: 100%;
    transition: background-color 0.3s ease-in-out;
    border-bottom: 2px solid transparent;

    &.active-link {
      color: $azulBase;
      border-bottom: 2px solid $azulBase;
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      background-color: $grisBase;
    }
    span {
      display: none;
    }
    @media (min-width: 600px) {
      span {
        display: inline;
      }
      gap: 10px;
    }
  }
  button {
    background-color: transparent;
  }

  @media (min-width: 600px) {
    height: 40px !important;
  }
}
