.container-all-posts {
  @include flexCenter(column);
  gap: 10px;
}

.container-post {
  width: 100%;
  flex-direction: column;
  gap: 5px;
  padding: 1rem;
}
.header-post {
  width: 100%;
  position: relative;
  @include flexCenter();
  gap: 1rem;
  justify-content: flex-start;
  .foto-container {
    width: 40px !important;
  }
  .datos-post-container {
    h4 {
      margin: 0;
      a {
        color: black;
      }
    }
  }
}

.footer-post-container {
  width: 100%;
  @include flexCenter(column);
  gap: 10px;
  .footer-post-indicadores-container {
    width: 100%;
    @include flexCenter(row, space-between);
    span {
      cursor: pointer;
    }
  }
  .footer-post-interacciones-container {
    width: 100%;
    gap: 10px;
    @include flexCenter();
    button {
      @include flexCenter();
      gap: 5px;
      flex-grow: 1;
      transition: all 0.3s ease-in-out;
      &.like {
        color: white;
        background-color: $rojoReaccion;
      }

      &:first-of-type:hover {
        color: $rojoReaccion;
      }
      &:hover {
        color: $azulBase;
        background-color: darken($grisBase, $amount: 5);
      }
    }
  }
}
.main-post-container {
  width: 100%;
}
.text-post-container {
  width: 100%;
  padding: 1rem 0;
  p {
    width: 100%;
    display: block;
    margin: 0;
  }
}
// modal likes

.main-container-modal-likes {
  width: 100%;
  @include flexCenter(column, center, stretch);
  .container-title {
    button {
      top: 20px;
    }
  }
}
.row-container-like {
  @include flexCenter(row, flex-start, center);
  gap: 1rem;
  border-bottom: 1px solid $grisBase;
  padding: 10px 0;
  .container-img-like {
    width: 40px;
    height: auto;
    cursor: pointer;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  .container-info-like {
    h3 {
      cursor: pointer;
      margin: 0;
    }
  }
}

.main-container-rowComent {
  position: relative;
  .icon-delete {
    position: absolute;
    top: 10px;
    cursor: pointer;
    right: 1rem;
    color: lighten($rojoReaccion, $amount: 10);
    &:hover {
      color: red;
      transition: color 0.3s ease;
    }
  }
}
