.container-all-posts {
  @include flexCenter(column);
  gap: 10px;
}

.container-post {
  width: 100%;
  flex-direction: column;
  gap: 5px;
  padding: 1rem;
}
.header-post {
  width: 100%;
  position: relative;
  @include flexCenter();
  gap: 1rem;
  justify-content: flex-start;
  .foto-container {
    width: 40px !important;
  }
  .datos-post-container {
    h4 {
      margin: 0;
      a {
        color: black;
      }
    }
  }
}

.container-options {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  @include flexCenter();
  .options-post {
    font-size: 1.2rem;
  }
  .container-items-options {
    &.oculto {
      display: none;
    }
    border: 1px solid $azulBase;
    @include flexCenter(column, center, stretch);
    width: 100px;
    border-radius: 5px 0 5px 5px;
    position: absolute;
    transform: translate(-4.3rem, 1.5rem);
    background-color: $grisBase;
    &::before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 9px solid transparent;
      border-bottom: 9px solid transparent;
      border-left: 9px solid $azulBase;
      position: absolute;
      top: 0px;
      right: -10px;
    }
    div {
      padding: 5px;
      span {
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
      }
      &:hover {
        background-color: lighten($azulBase, $amount: 30);
        transition: all 0.3s ease-in-out;
      }
      &:first-child {
        border-bottom: 1px solid grey;
      }
    }
  }
}

.footer-post-container {
  width: 100%;
  @include flexCenter(column);
  gap: 10px;
  .footer-post-indicadores-container {
    width: 100%;
    @include flexCenter(row, space-between);
  }
  .footer-post-interacciones-container {
    width: 100%;
    gap: 10px;
    @include flexCenter();
    button {
      @include flexCenter();
      gap: 5px;
      flex-grow: 1;
      transition: all 0.3s ease-in-out;
      &:first-of-type:hover {
        color: $rojoReaccion;
      }
      &:hover {
        color: $azulBase;
        background-color: darken($grisBase, $amount: 5);
      }
    }
  }
}
.main-post-container {
  width: 100%;
}
.text-post-container {
  width: 100%;
  padding: 1rem 0;
  p {
    width: 100%;
    display: block;
    // text-align: start;
  }
}
