.main-container-searchprofile {
  @include flexCenter();
  padding: 1rem;
  margin-top: 1rem;
  max-width: 968px;
  margin: 1rem auto;
  .container-search-profile {
    @include flexCenter(column, center, stretch);
    gap: 1rem;
    width: 100%;
    .container-buscador {
      @include flexCenter();
      background-color: $grisBase;
      padding: 10px;
      border-radius: 10px;
      form {
        width: 600px;
        max-width: 100%;
        @include flexCenter(row, center, stretch);
        input {
          width: 100%;
          padding: 5px 10px;
          border-radius: 5px 0px 0px 5px;
        }
        button {
          @include flexCenter();

          background-color: $azulBase;
          color: white;
          &:hover {
            background-color: darken($azulBase, $amount: 10);
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
    h3 {
      text-align: center;
    }
    .container-sugerencias {
      @include flexCenter(column, center, stretch);
      gap: 10px;
      @include telefono {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // flex-direction: row;
        // flex-wrap: wrap;
      }
      @media (min-width: 700px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
      @include desktop {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

.main-container-sugerencia {
  @include flexCenter(row, flex-start);
  gap: 1rem;
  padding: 10px;
  border: 1px solid darken($grisBase, $amount: 10);
  border-radius: 10px;
  background-color: $grisBase;
  @include telefono {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container-img-profile {
    min-width: 95px;
    max-width: 100px;
    cursor: pointer;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  .container-info-sugerencia {
    @include flexCenter(column, center, stretch);
    gap: 0.5rem;
    h3 {
      font-size: 1rem;
      margin: 0;
      text-align: center;
      a {
        color: black;
        font-weight: 500;
      }
    }

    .container-buton-sugerencia {
      @include flexCenter();
      gap: 10px;
      flex-wrap: wrap;
      button.boton-sugerencia {
        background-color: $azulBase;
        color: white;
        letter-spacing: 1.5px;
        flex-grow: 1;
        &:disabled {
          background-color: white;
          color: black;
          cursor: not-allowed;
        }
      }
    }
    @include telefono {
      h3 {
        font-size: 1.2rem;
      }
    }
  }
}
