.main-container-searchprofile {
  @include flexCenter();
  padding: 1rem;
  margin-top: 1rem;
  .container-search-profile {
    @include flexCenter(column, center, stretch);
    gap: 1rem;
    width: 100%;
    .container-sugerencias {
      @include flexCenter(column, center, stretch);
      gap: 10px;
    }
  }
}

.main-container-sugerencia {
  @include flexCenter(row, flex-start);
  gap: 1rem;
  .container-img-profile {
    width: 25%;
    max-width: 100px;
    cursor: pointer;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  .container-info-sugerencia {
    @include flexCenter(column, center, stretch);
    gap: 0.5rem;
    h3 {
      font-size: 1.2rem;
      a {
        color: black;
        font-weight: 500;
      }
    }
    button {
      background-color: $azulBase;
      color: white;
      letter-spacing: 1.5px;
    }
  }
}
