@import "./styles/styles";
@import "./styles/auth";
@import "./styles/nav";
@import "./styles/header";
@import "./styles/post";
@import "./styles/modal";
@import "./styles/profile";
@import "./styles/searchProfile";
@import "./styles/home";
@import "./styles/options";

*,
*::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4 {
  margin-bottom: 0;
}
